extends layout
block body
  #wrapper
    .content
    	<!DOCTYPE html>

    <script type="text/javascript" src="../libs/stats.js"></script>
    <script type="text/javascript" src="../libs/dat.gui.js"></script>
	div#Stats-output
	div#WebGL-output
  script(src="//cdnjs.cloudflare.com/ajax/libs/three.js/r72/three.min.js")
  script(src='public/js/app.js')